numpy==2.3.3
pandas

matplotlib
seaborn
plotly

jupyter
ipykernel

sklearn
openpyxl

scipy
joblib
shap 
xgboost
lightgbm

os 
python-dotenv

openai

streamlit
streamlit-option-menu
streamlit-shap
requests
Pillow